:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}

.colabs {
    padding: 6%;
    margin: auto;

    h1 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 50px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;


        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            background-color: #010000;
            padding: 20px;
            color: white;

            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 10px;

                img {
                    width: 120%;
                    height: 120%;
                    object-fit: cover;
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                h2 {
                    margin-bottom: 5px;
                }

                p:last-child {
                    margin-top: 5px;
                    font-size: 14px;
                    color: #999;
                }
            }

            .stars {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;

                .star {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #f1c40f;
                    margin: 0 5px;
                }
            }
        }
    }

}